/** {
  border: 1px dashed white;
}*/

body {
  background-color: #202020;
  font-family: 'Inconsolata', monospace;
  color: #EDEDED;
  letter-spacing: 0.05em;
  font-size: 16px;
}

header {
  margin-top: 10px;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.winnerAlert {
  text-align: center;
  margin: 0;
  text-decoration: underline;
}

section {
  height: 120px;
  background-color: #202020;
  margin: 5px auto;
}

div {
  height: 70px;
  margin-top: 20px;
}

.player1_lane {
  border-top: 4px solid white;
  border-bottom: 4px solid yellow;
}

.player2_lane {
  border-top: 4px solid yellow;
  border-bottom: 4px solid white;
}

#player2_text {
  margin-top: 10px;
}

#box101 {
  border-right: 4px solid yellow;
}

#box201 {
  border-right: 4px solid yellow;
}

#box112 {
  border-left: 4px dashed yellow;
  text-align: center;
}

#box212 {
  border-left: 4px dashed yellow;
  text-align: center;
}

.text {
  font-family: 'Inconsolata', monospace;
}

.newGameText {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 20px;
}
